/* roots and customs */
:root {
  --ff-buttons: "Righteous", monospace;
  --ff-display: "Roboto Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./images/school-hall.jpg);
  background-size: cover;
  /* padding-top: 40px; */
}
main {
  min-height: 100vh;
  /* margin-bottom: 30px; */
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-title {
  position: absolute;
  top: 0px;
  left: 50px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
  font-family: var(--ff-buttons);
  font-size: 2rem;
  color: white;
  padding: 2rem;
}
.app-title img {
  /* padding: 3px; */
  border: 5px solid transparent;
  transform: translateY(4px);
  height: 100%;
  /* border-radius: 50%; */
}
.calc-container {
  padding-top: 2rem;
  position: relative;
  width: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 100px);
  /* box-shadow: 0 0 30px rgb(203, 243, 203); */
}

button {
  color: black;
  font-family: var(--ff-display);
  font-weight: 900;
  font-size: 2rem;
  background: linear-gradient(
    to right top,
    rgb(124, 187, 171),
    rgb(35, 139, 113)
  );
  height: 100px;
  outline: none;
  border: none;
  transition: 0.1s ease-in-out;
}
button:hover {
  background: linear-gradient(
    to right top,
    rgb(147, 216, 199),
    rgb(147, 216, 199)
  );
}
button:active {
  transform: scale(0.9);
}
.display {
  border: 2px solid rgb(29, 146, 146);

  overflow: hidden;
  height: 110px;
  background-color: rgb(44, 44, 44);
  color: rgb(189, 188, 188);
  padding: 5px 10px 5px 10px;
  font-family: var(--ff-display);
  grid-column: 1 / span 4;
}
.current-display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60%;
  color: white;
  font-size: 2.5rem;
}
.prev-display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 2rem;

  height: 40%;
}
.number {
  color: black;

  background: linear-gradient(
    to right top,
    rgb(51, 190, 190),
    rgb(29, 146, 146)
  );
}
.allClear {
  grid-column: 1 / span 2;
}
.allClear,
.delete {
  background: linear-gradient(
    to left top,
    rgb(87, 230, 151),
    rgb(67, 172, 114)
  );
}
.operator {
  font-size: 2.5rem;
}
.trig {
  background-color: red;
  /* width: 40px; */
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  /* transform: rotate(-90deg); */
  /* text-align: right; */
}
.social-links {
  font-family: var(--ff-buttons);
  /* background-color: white; */
  width: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 10px;
}
#home {
  color: #dcdcdc;

  align-self: flex-end;
  font-size: 1.5rem;
  text-decoration: none;
}
/* fab is FA icon class */
.fab {
  color: rgb(147, 216, 199);
  cursor: pointer;
  transition: 0.3s;
}

.fab:hover,
#home:hover {
  color: rgb(29, 146, 146);
}
/* footer starts */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #dcdcdc;
  background-color: black;
}
footer > div {
  padding: 1rem;
}
.footer-contact {
  font-family: var(--ff-buttons);
  color: #dcdcdc;
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
}
footer a,
footer .fab,
footer .fas,
footer img {
  /* text-decoration: none; */
  color: lightblue;
  transition: all 0.2s ease-in-out;
}
footer a:hover,
footer .fab:hover,
footer .fas:hover,
footer img:hover {
  transform: scale(1.1);
  color: yellow;
}
.footer-logo {
  width: 200px;
}
.footer-social {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding: 0.5rem 0;
}

@media screen and (max-width: 1100px) {
  .app-title {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact {
    text-align: center;
  }
  .social-links {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .calc-container {
    width: 100vw;
    grid-template-columns: repeat(4, 25%);
  }
  .display {
    border: 2px solid rgb(29, 146, 146);
  }
  .current-display {
    font-size: 2rem;
  }
  .prev-display {
    font-size: 1.5rem;
  }

  body {
    padding: 0;
    background-image: none;
    background-color: black;
  }
}
@media screen and (max-width: 350px) {
  .calc-container {
    width: 320px;
    /* grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); */
  }
  button {
    height: 80px;
  }
}
